html,body{
    height: 100%;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 12px;
}
.container{
    border: 1px solid #e3e3e3;
    height: 97%;
    font-size: 1.5em;
}
.orangeHeader{
    background-color: #ff8310;
    border-color: #ff8310 ;
    color: #fff;
    padding: 10px 15px;
    font-size: 2rem;
}
.sameHeight{
    height: 60px;
    cursor: pointer;
}

.noMargin{
    margin: 0px;
}
.noPadding{
    padding: 0px;
}
.well{
    border-radius: 0px;
}
